# First, ignore everything
*
# Now, whitelist anything that's a directory
!*/

# base files
!*.uproject
!.gitignore

# _Documentation, whitelist everything
!_Documentation/**
# Ignore OpenOffice temp files
_Documentation/**/.~lock.*

# Config
!*/Config/**

# Content
!*/Content/**
# Content Built data for maps
*_BuiltData.uasset

# Source
!*/Source/**

# Script
!*/Script/**